* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    line-height: 1.6;
    background-color: #dadada;
    color: #333;

}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #00796b;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav h1 {
    font-size: 1.8rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    transition: transform 0.3s ease;
}


nav ul li:hover {
    text-decoration: underline;
    cursor: pointer;
    transform: translateY(-0.8px);


}

.hero {
    background: url(https://www.adventurouskate.com/wp-content/uploads/2023/06/Padova-Cities-in-Italy-scaled.jpg);
    color: white;
    text-align: center;
    padding: 120px 20px;
    position: relative;


}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);

}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;

}

.hero button {
    font-size: 1rem;
    padding: 12px 25px;
    background-color: #ff6b6b;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;

}

.hero button:hover {
    background-color: #ff4b4b;
    transform: translateY(-5px);


}

.destinations {
    padding: 10px 100px;
    max-width: 1200px;
    margin: 0 auto;

}

.destinations h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #00796b;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    align-items: stretch;

}

.destination-card {
    background: white;

    border-radius: 8px;
    overflow: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;


}
#hero,
#destinations,
#testimonials,
#contact {
    scroll-margin-top: 70px;
}



.destination-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);

}

.destination-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;


   

}

.destination-card h3 {
    margin: 18px 0;
    color: #00796b;
}

.testimonials {
    background-color: #e0f7fa;
    padding: 60px 20px;
}

.testimonials h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.5rem;
    color: #00797b;

}

.testimonial-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    max-width: 400px;
    margin: 0 auto 25px auto;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;


}

.testimonial-card:hover {
    transform: scale(1.05);
}

.testimonial-card p {
    margin-bottom: 15px;
    font-style: italic;
}

.testimonial-card h4 {
    font-weight: 600;
    color: #00796b;
}

@media(max-width:768px) {
    nav {
        flex-direction: column;
        gap: 10px;
    }

    .hero {
        font-size: 2.2rem;

    }

    .hero p {
        font-size: 1rem;

    }

    .destinations h2,
    .testimonials h2 {
        font-size: 2rem;
    }

    .hero button {
        padding: 10px 20px;
        font: 0.9rem;

    }

    .destination-card img {
        height: 150px;
    }



}

